body,form,input,.box{
	margin: 0;
	padding: 0;
}
.row{
	margin: 0!important;
	padding: 0!important;
}
body{
	width: 100%;

}
.box{
	position: relative;
	/*overflow: hidden;*/
}
a{
	text-decoration: none;
	color: black;
}
.re{
	width: 100%;
	margin: 0 auto;
}
.head{
	width: 100%;
	height:7.5%;
	overflow: hidden;
}
.logo{
	width:11.34%;
	height: auto;
	margin-left: 4.54%;
	padding-left: 2%;
	margin-top: 10px;
	float: left;
}
.search{
	position: relative;
	height:7.5%;
	width: 62.6%;
	float: left;
	margin-left: 4.5%;
	/*margin-top: 32px;*/
}
.text{
	border: none;
	width: 100%;
	height: 45px;
	background-image: url(../img/sear.png);
	background-size:100%;
	background-repeat:no-repeat ;
	background-position: bottom;
	text-align:left;
	font-size: 16px;
	float: left;
	text-indent: 20px;
	padding-top: 3%;
	outline: medium;
}

.sear{
	width: 7%;
	margin-top: -11%;
	margin-right: 10px;
	height: auto;
	float:right;
}
.nav1{
	float: left;
	width: 9.6%;
	margin-left: 2%;
	margin-top: 6%;
}

.naver{
	display: none;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	position:absolute;
	z-index: 999;
	background-color: white;
}

.naver .col-xs-6{
	height: 25%;
	margin-top: 1.2%;
	text-align: center;
}
.nava{
	padding: 0;
	margin: 0;
	height: 10%;
	
}
.nava img{
	margin-left: 10%;
	width: 30%;
	float: left;
}
.nava span{
	float: left;
	color: #fb934f;
	text-align: center;
	font-size: 16px;
	margin-top: 9%;
	padding-left: 2%;
	white-space:nowrap
}
/*专属*/
.box{
	width:100%;
	margin:0 auto;
	font-family: "微软雅黑";
}
.zhanwei{
	width: 100%;
	height: 37px;
	border: 1px solid powderblue;
}
.by{
	width: 100%;
	height:107px;
}
h3,h4,p{
	margin: auto;
    padding: 0 auto;
}
.z1{
	font-family: "黑体";
	padding-top: 4%;
	margin: auto;
    padding: 0 auto;
    margin-left: 35%;
}
.z2{
	font-family:"黑体";
	padding-bottom: 5%;
	margin: auto;
    padding: 0 auto;
    margin-left: 45%;
}
.mp-zong{
	margin: auto;
	margin-bottom:7%;
	border: 1px solid palegreen;
	width: 90%;
	height: 217px;
	
}

.zhanwei2{
	margin-top: 7%;
	width: 100%;
	height: 37px;
	border: 1px solid powderblue;
	
}
.left{
	border: 1px solid peru;
	width: 50%;
	height: 217px;
	float: left;

}
.zp{
	width: 91%;
	height: 106px;
	margin-top: 3%;
	margin-left: 4%;
	border: 1px solid mediumpurple;
}
.wz{
	width: 91%;
	height: 90px;
	margin-top: 3%;
	margin-left: 4%;
	border: 1px solid yellowgreen;
}
.jz{
	color: #333333;
	text-align: center;
	padding-top: 5%;
}
.right{
	border: 1px solid aqua;
	width: 50%;
	height: 217px;
	float: left;
}
.r1{
	margin-left: 7%;
	margin-top: 9%;
	margin-right: 6%;
	margin-bottom: 3%;
	width: 40%;
	height: 40%;
border: 1px solid darkviolet;
float: left;
}
.r1-2{
	
	margin-top: 9%;
	margin-right: 6%;
	margin-bottom: 3%;
	width: 40%;
	height: 40%;
border: 1px solid darkviolet;
float: left;
}
.r2{
	margin-left: 7%;
	margin-top: 4%;
	margin-right: 6%;
	width: 40%;
	height: 40%;
border: 1px solid blue;
float: left;
}
.r2-2{
	
	margin-top: 4%;
	margin-right: 6%;
	width: 40%;
	height: 40%;
border: 1px solid blue;
float: left;
}
/*内容-耳饰*/
div,ul,li,ol,p{
	margin: 0;
	padding: 0;
}
.zi{
	width: 27%;
	color: palevioletred;
margin-left: 90px;
margin-top: -113px;


}
.xz{
	text-align: center;
}
.t0{
	width: 25%;
	height:30%;
float: left;

margin-top: 30px;


}
.t1{
	width: 25%;
	height:30%;
	
float: left;
margin-top: 30px;


}
.t2{
	width: 25%;
	height:30%;
float: left;
margin-left: 15px;
margin-right: 15px;
margin-top: 30px;
}
.t3{
	width: 25%;
	height:30%;
	margin-top: 30px;
float: left;

}

#zbk{
	float: left;
}
#lz{
	margin-left: -30px;
	margin-top: 30%;
	
}
.tao{
	width: 90%;
	margin-left: 10px;

}
#dd{
	 padding-left: 0px;
   padding-right: 0px;
   padding-left: 20px;
}
#ershi{
	margin-left: 10%;
}
/**/
.foot{
	width: 100%;
	display:flex;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffcccc;
}

.foot1 {
	margin: 0;
	margin-top: 1%;
	background-color: #ffcccc;
}
.tb{
	top:0;
	width: 70%;
	height: 80%;
	margin-left: 10%;
}

.foot1 a:after{
	content: attr(title);
	display: block;
	font-size:16px;
	color: white;
	text-align: center;
}

.wid img{
	width: 31px;
}
/*专属*/
.box{
	width:100%;
	margin:0 auto;
	font-family: "微软雅黑";
}
.zhanwei{
	width: 100%;
	height: 37px;
	border: 1px solid powderblue;
}
.by{
	width: 100%;
	height:100px;
}
h3,h4{
	margin: auto;
    padding: 0 auto;
}
.z1{
	font-family: "黑体";
	padding-top: 4%;
	margin: auto;
    padding: 0 auto;
    margin-left: 21%;
}
.z2{
	font-family:"黑体";
	margin: auto;
    padding: 0 auto;
    margin-left: 36%;
}
.mp-zong{
	margin: auto;
	margin-bottom:9%;
	border: 1px solid palegreen;
	width: 90%;
	height: 217px;
	
}
.mp-zong2{
	margin: auto;
	margin-bottom:19%;
	width: 90%;
	height: 217px;
	
}
.left{
	border: 1px solid peru;
	width: 50%;
	height: 217px;
	float: left;

}
.zp{
	width: 91%;
	height: 105px;
	margin-top: 4%;
	margin-left: 4.7%;
	border: 1px solid mediumpurple;
}
.wz{
	width: 91%;
	height: 90px;
	margin-top: 3%;
	margin-left: 4.7%;
	border: 1px solid yellowgreen;
}
.jz{
	color: #333333;
	text-align: center;
	padding-top: 5%;
}
.right{
	border: 1px solid aqua;
	width: 50%;
	height: 217px;
	float: left;
}
.sjs{
	width: 100%;
    height: 106px;
}
.r1{
	margin-left: 7%;
	margin-top: 9%;
	margin-right: 6%;
	margin-bottom: 3%;
	width: 40%;
	height: 40%;
border: 1px solid darkviolet;
float: left;
}
.r1-2{
	
	margin-top: 9%;
	margin-right: 6%;
	margin-bottom: 3%;
	width: 40%;
	height: 40%;
border: 1px solid darkviolet;
float: left;
}
.r2{
	margin-left: 7%;
	margin-top: 4%;
	margin-right: 6%;
	width: 40%;
	height: 40%;
border: 1px solid blue;
float: left;
}
.r2-2{
	
	margin-top: 4%;
	margin-right: 6%;
	width: 40%;
	height: 40%;
border: 1px solid blue;
float: left;
}
/*内容-耳饰*/
div,ul,li,ol,p{
	margin: 0;
	padding: 0;
}

.zi{
	width: 27%;
	color: palevioletred;
margin-left: 90px;
margin-top: -113px;


}
.xz{
	text-align: center;
	margin-bottom: -2px;
	color: #333333;
}
.t0{
	width: 25%;
	height:30%;

float: left;


}
.t0-1{
	width: 25%;
	height:30%;
	
float: left;


padding: 0;

}
.t1{
	width: 25%;
	height:30%;
	
float: left;



}
.t2{
	width: 25%;
	height:30%;
	
float: left;
margin-left: 15px;
margin-right: 15px;


}
.t3{
	width: 25%;
	height:30%;

float: left;

}
.t2-1{
	width: 25%;
	height:30%;
	
float: left;
margin-left: 15px;
margin-right: 15px;

}
.t3-1{
	width: 25%;
	height:30%;
margin: 0;
padding: 0;
	
float: left;

}
.tao{
	width: 88%;
	margin-left: 6px;
	margin-bottom: 10%;


}
.tao2{
	width: 88%;
	margin-left: 10px;

}
.tao3{
	width:88%;
	margin-left: 15px;
	margin-bottom: 10%;
margin-top:-1.2%;

}
.tao4{
	width:210%;
	margin-left: -14px;
	margin-bottom: 2%;
	margin-top: -3%;
}
.tao5{
	
}
.tao6{
	
}
#zbk{
	float: left;
}
.dh{
	width: 23%;
	float: left;
	background-color: #f8e4e6;
	margin-right: 2%;
	height: 770px;
	margin-top: 3%;
}
#lz{
	margin-top:0.5px;
	width: 166%;
	margin-left: -16px;
}

.col-xs-2{
	width: 20%;
	float: left;
	background-color: #f8e4e6;
	margin-right: 2%;
	height: 770px;
	margin-top: 3%;
}
.nav{
	display: block;
	text-align: center;
}
.nav > li > a {
color: palevioletred;
font-size: 16px;
font-weight: bold;
	}
#dd{
	 padding-left: 0px;
   padding-right: 0px;
   padding-left: 20px;
}
#ershi{
    height: 40%;
	width:240%;
	margin-left: -20px;
	margin-top: -17%;
}

#jz{
    height: 40%;
	width:240%;
	margin-left: -29px;	
}
.zt{
	margin-top: 15.8%;
	width: 15%;
	margin-bottom: -20px;
	color: palevioletred;
}
.zt2{
	width: 15%; 
	margin-top:90%;
	margin-bottom:4%;

	color: palevioletred;
}
.zt4{
		width: 15%; 
		margin-top:86%;
	margin-bottom: 4%;
	color: palevioletred;
	}
.zt2-2{
	margin-top:91%;
	width: 15%; 
	margin-bottom: 4%;
	color: palevioletred;
}
.zt2-3{
	margin-top:91%;
	width: 15%; 
	margin-bottom: 4%;
	color: palevioletred;
}
.zt3{
	margin-top: 9%;
	width: 15%;
	margin-bottom: -20px;
	color: palevioletred;
}