@media only screen and (width:320px) {
	.box{
	width: 320px;
	height: 568px;
	margin: 0 auto;
    }
      #i0{
    	width:150px !important;
    	height: 200px !important;
    	margin-top: 20px;
    }
}
@media only screen and (width:360px) {
	.box{
	width: 360px;
	margin: 0 auto;
    }
}
@media only screen and (width:375px) {
	.box{
	width: 375px;
	height: 667px;
	margin: 0 auto;
    }	
    #i0{
    	width:150px !important;
    	height: 200px !important;
    	margin-top: 20px;
    }
  #t1{
  	margin-top: 20px;
  }
}
@media only screen and (width:414px) {
	.box{
	width: 414px;
	margin: 0 auto;
    }
}

@media only screen and (width:568px) {
	.box{
	width: 568px;
	
	margin: 0 auto;
    }	
    
}
@media only screen and (width:640px) {
	.box{
	width: 640px;
	margin: 0 auto;
    }
    
    }
}
@media only screen and (width:667px) {
	.box{
	width: 667px;
	margin: 0 auto;
    }
     #i0{
    	width:200px !important;
    	height: 150px !important;
    	}
    	 #i0 img{
    	width:300px !important;
    	height: 200px;
    }
    .fix_bottom{
    	margin-top: -100px !important;
    	}
}
@media only screen and (width:736px) {
	.box{
	width: 736px;
	margin: 0 auto;
    }	
}
@media only screen and (min-width:750px) {
	.box{
		width: 750px;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
	}
	.search{
		margin-top: 5%;
	}
	.foot{
		width: 750px;
	}
	
}


@media only screen and (width:568px) {

    .search{
		margin-top: 3%;
	}
	.naver{
	height: 45%;
	left: 0;
	position: fixed;
    }
	 .naver .col-xs-6{
	height: 30%;
	padding-top: 1%;
	text-align: center;
	padding-left: 10%;
    }
	.nava img{
		width: 45px;
	}
	.nava span{
		margin-top: 4%;
	    padding-left: 2%;
	}
	.sear{
	margin-top: -11%;
    }
}
@media only screen and (min-width:570px) {
	.naver{
	width: 750px;
	height: 45%;
	position: fixed;
    }
    .nav1{
    	margin-top: 5%;
    }
    .naver .col-xs-6{
	height: 28%;
	margin-top: 0.5%;
	text-align: center;
	padding-left: 5%;
    }
	.nava img{
		width: 45px;
	}
	.nava span{
		margin-top: 4%;
	    padding-left: 2%;
	}
    .search{
		margin-top: 4%;
	}
	.sear{
	margin-top: -11%;
    }
    #i0 img{
    	width:300px !important;
    }
}
